In [56]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import MO, TU, WE, TH, FR
pd.plotting.register_matplotlib_converters()

#--------------Clean up the dataset a bit------------------
df = pd.read_csv('eurusd.csv',skipinitialspace=True)
df = df.drop('OpenInterest', 1)
df = df.drop('Volume', 1)
#----------------------------------------------------------

def header (msg):
    print(msg)

#--------------Bit of this and that------------------
#df.describe()
#print(df[df['Date'].isin(['2008/1/23','2008/1/24'])])
date_1 = '2008/6/23'
date_2 = '2008/9/24'
#df_filtered = df[(df['Date'] > date_1) & (df['Date'] < date_2)]
df_filterConditional = df[(df.Last > 1.46423)&(df.Last < 1.48038)]
df_filterConditional.head(20)
#print(df_filtered.columns)
#print(df_filtered[['Date', 'Open']])
#print(df_filtered.index)
#df.isnull().sum()
#print(df_filtered['Open'].describe())
#print(df_filtered['Open'].value_counts().head(10))
#print(df_filtered.corr())
#print(type(df_filtered))
#df_filtered.head()
#----------------------------------------------------------


#--------------Plot the graph------------------
# fig, ax = plt.subplots(figsize=(15,7))
# plt.scatter(df_filtered.Date, df_filtered.Last, color='crimson', marker='.')
# ax.tick_params(axis='x', colors='white', rotation=90)
# ax.tick_params(axis='y', colors='white')
# #ax.set_xlim(df.index[0] - pd.offsets.Hour(12), df.index[-1]+ pd.offsets.Hour(12))
# ax.set_ylabel('Price', fontsize=25)
# ax.set_xlabel('Interval', fontsize=25)
# ax.set_title('Mean reversion of  Close Prices',fontsize= 35,color='white')
# ax.xaxis.label.set_color('white')
# ax.yaxis.label.set_color('white')
# #set ticks every week
# #ax.xaxis.set_major_locator(mdates.WeekdayLocator(byweekday=(MO, TU, WE, TH, FR)))
# # set major ticks format
# #ax.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))
# plt.tight_layout()
# plt.show()

          Date      Time     Open     High      Low     Last
2    2008/1/16  00:00:00  1.48038  1.48591  1.45948  1.46518
8    2008/1/24  00:00:00  1.46295  1.47790  1.45912  1.47550
9    2008/1/25  00:00:00  1.47550  1.47780  1.46610  1.46716
10   2008/1/28  00:00:00  1.46805  1.47979  1.46623  1.47821
11   2008/1/29  00:00:00  1.47821  1.47975  1.47378  1.47767
14    2008/2/1  00:00:00  1.48604  1.49434  1.47860  1.47985
16    2008/2/5  00:00:00  1.48301  1.48350  1.46230  1.46469
24   2008/2/15  00:00:00  1.46420  1.47092  1.46316  1.46777
25   2008/2/18  00:00:00  1.46800  1.46907  1.46107  1.46580
26   2008/2/19  00:00:00  1.46580  1.47571  1.46422  1.47255
27   2008/2/20  00:00:00  1.47255  1.47312  1.46145  1.47145
154  2008/8/15  00:00:00  1.48260  1.48268  1.46593  1.46728
155  2008/8/18  00:00:00  1.46728  1.47682  1.46719  1.46946
156  2008/8/19  00:00:00  1.46946  1.47935  1.46302  1.47756
157  2008/8/20  00:00:00  1.47756  1.48057  1.46727  1.47470
159  2008/8/22  00:00:00  1.48995  1.49082  1.47584  1.47741
160  2008/8/25  00:00:00  1.47741  1.48083  1.46965  1.47543
161  2008/8/26  00:00:00  1.47543  1.47603  1.45710  1.46558
162  2008/8/27  00:00:00  1.46558  1.47764  1.46333  1.47275
163  2008/8/28  00:00:00  1.47275  1.48113  1.46721  1.47063